{% if product.available %}

  {% else %}

{{ 'affiliates.css' | asset_url | stylesheet_tag }}
{% if product.metafields.my_fields.amazon_affiliate or product.metafields.my_fields.de_amazon_affiliate or product.metafields.my_fields.fr_amazon_affiliate or product.metafields.my_fields.us_amazon_affiliate or product.metafields.my_fields.us_bestbuy_affiliate or product.metafields.my_fields.au_amazon_affiliate or product.metafields.my_fields.au_jbhifi_affiliate %}
<div class="affiliatesBadge">
  <p class="product__text caption-with-letter-spacing" style="margin-bottom:5px;color: rgba(var(--color-foreground),.75);">{% if request.host == 'lifxshop.eu' or request.host == 'lifxshop.de' or request.host == 'lifxshop.fr' or request.host == 'lifxukeu.myshopify.com'%}
		Available at:{% else %}
        Also Available at:{% endif %}</p>
{% if product.metafields.my_fields.amazon_affiliate != blank %}
    <a href="{{ product.metafields.my_fields.amazon_affiliate }}" class="mobile_external affiliateLink" target="_blank">
	<span class="product__text caption-with-letter-spacing">Amazon UK</span></a>
{% endif %}
{% if product.metafields.my_fields.de_amazon_affiliate != blank %}
    <a href="{{ product.metafields.my_fields.de_amazon_affiliate }}" class="mobile_external affiliateLink" target="_blank" >
    <span class="product__text caption-with-letter-spacing">Amazon DE</span></a>
{% endif %}
{% if product.metafields.my_fields.fr_amazon_affiliate != blank %}
	<a href="{{ product.metafields.my_fields.fr_amazon_affiliate }}" class="mobile_external affiliateLink" target="_blank">
    <span class="product__text caption-with-letter-spacing">Amazon FR</span></a>   
{% endif %}
{% if product.metafields.custom.us_homedepot_affiliate != blank %}
	<a href="{{ product.metafields.custom.us_homedepot_affiliate }}" class="mobile_external affiliateLink" target="_blank">
    <span class="product__text caption-with-letter-spacing">The Home Depot</span></a>   

  <p>-</p>
{% endif %}

  {% if product.metafields.my_fields.us_amazon_affiliate != blank %}
	<a href="{{ product.metafields.my_fields.us_amazon_affiliate }}" class="mobile_external affiliateLink" target="_blank">
    <span class="product__text caption-with-letter-spacing">Amazon</span></a>   
{% endif %}
{% if product.metafields.my_fields.us_bestbuy_affiliate != blank %}
	<a href="{{ product.metafields.my_fields.us_bestbuy_affiliate }}" class="mobile_external affiliateLink" target="_blank">
    <span class="product__text caption-with-letter-spacing">Best Buy</span></a>   
{% endif %}
{% if product.metafields.my_fields.au_jbhifi_affiliate != blank %}
	<a href="{{ product.metafields.my_fields.au_jbhifi_affiliate }}" class="mobile_external affiliateLink" target="_blank">
    <span class="product__text caption-with-letter-spacing">JB Hi-Fi</span></a>   
{% endif %}
{% if request.host == 'lifxaustralia.myshopify.com' or request.host == 'www.lifx.com.au' %}
	<a href="https://www.bunnings.com.au/search/products?q=lifx&sort=BoostOrder&page=1&pageSize=36&brandname=LIFX" class="mobile_external affiliateLink" target="_blank">
    <span class="product__text caption-with-letter-spacing">Bunnings</span></a>  
	<a href="/pages/where-to-buy" class="affiliateLink">
    <span class="product__text caption-with-letter-spacing">View All</span></a>   
{% endif %}
</div>
{% endif %}

{% endif %}




{% if product.tags contains "flex" %}
	<a href="https://lifx.typeform.com/to/iZsrD80w" class="mobile_external affiliateLink" target="_blank">
    <span class="product__text caption-with-letter-spacing">Notify me when launched</span></a>   
{% endif %}