{{ 'productFamily.css' | asset_url | stylesheet_tag }}

{% if request.host != 'www.lifx.com.au' %}
  
  {%- assign activeHandle = product.handle -%}

{% if product.metafields.my_fields.product_family == "Colour" %}

{% for product in collections.colour.products %}
  {% if activeHandle != product.handle %}
      <a href="{{ product.url }}">{% for variant in product.variants %}<p class="productFamily" >{{ variant.option1 }}</p>{% endfor %}</a>
  {% endif %}
{% endfor %}

{% elsif product.metafields.my_fields.product_family == "Color" %}

{% for product in collections.color.products %}
  {% if activeHandle != product.handle %}
      <a href="{{ product.url }}">{% for variant in product.variants %}<p class="productFamily" >{{ variant.option1 }}</p>{% endfor %}</a>
  {% endif %}
{% endfor %}

{% elsif product.metafields.my_fields.product_family == "White to Warm" %}

{% for product in collections.white-to-warm.products %}
  {% if activeHandle != product.handle %}
      <a href="{{ product.url }}">{% for variant in product.variants %}<p class="productFamily" >{{ variant.option1 }}</p>{% endfor %}</a>
  {% endif %}
{% endfor %}

{% elsif product.metafields.my_fields.product_family == "White" %}

{% for product in collections.white.products %}
  {% if activeHandle != product.handle %}
      <a href="{{ product.url }}">{% for variant in product.variants %}<p class="productFamily" >{{ variant.option1 }}</p>{% endfor %}</a>
  {% endif %}
{% endfor %}

{% elsif product.metafields.my_fields.product_family == "Candle Colour" or product.metafields.my_fields.product_family == "Candle Color" or product.metafields.my_fields.product_family == "Candle White to Warm" or product.metafields.my_fields.product_family == "Candle" %}

{% for product in collections.candles.products %}
  {% if activeHandle != product.handle %}
      <a href="{{ product.url }}">{% for variant in product.variants %}<p class="productFamily" >{{ variant.option1 }}</p>{% endfor %}</a>
  {% endif %}
{% endfor %}

{% elsif product.metafields.my_fields.product_family == "Colour A60"%}

  {% for product in collections.colour-a60.products %}
      {% if activeHandle != product.handle %}
      <a href="{{ product.url }}">{% for variant in product.variants %}<p class="productFamily" >{{ variant.option1 }}</p>{% endfor %}</a>
      {% endif %}
  {% endfor %}

{% elsif product.metafields.my_fields.product_family == "Nightvision AU"%}

{% for product in collections.nightvision.products %}
      {% if activeHandle != product.handle %}     
      <a href="{{ product.url }}">{% for variant in product.variants %}<p class="productFamily" >{{ variant.option1 }}</p>{% endfor %}</a>
      {% endif %}
{% endfor %}

{% elsif product.metafields.my_fields.product_family == "Color A19" %}

{% for product in collections.color-a19.products %}
  {% if activeHandle != product.handle %}
      <a href="{{ product.url }}">{% for variant in product.variants %}<p class="productFamily" >{{ variant.option1 }}</p>{% endfor %}</a>
  {% endif %}
{% endfor %}

{% elsif product.metafields.my_fields.product_family == "Nightvision" %}

{% for product in collections.nightvision.products %}
  {% if activeHandle != product.handle %}
      <a href="{{ product.url }}">{% for variant in product.variants %}<p class="productFamily" >{{ variant.option1 }}</p>{% endfor %}</a>
  {% endif %}
{% endfor %}

{% elsif product.metafields.my_fields.product_family == "Downlight" %}

{% for product in collections.downlights.products %}
  {% if activeHandle != product.handle %}
      <a href="{{ product.url }}">{% for variant in product.variants %}<p class="productFamily" >{{ variant.option1 }}</p>{% endfor %}</a>
  {% endif %}
{% endfor %}

{% elsif product.metafields.my_fields.product_family == "Clean" %}

{% for product in collections.clean.products %}
  {% if activeHandle != product.handle %}
      <a href="{{ product.url }}">{% for variant in product.variants %}<p class="productFamily" >{{ variant.option1 }}</p>{% endfor %}</a>
  {% endif %}
{% endfor %}


{% elsif product.metafields.my_fields.product_family == "Lightstrip" %}

{% for product in collections.lightstrip-variants.products %}
  {% if activeHandle != product.handle %}
      <a href="{{ product.url }}">{% for variant in product.variants %}<p class="productFamily" >{{ variant.option1 }}</p>{% endfor %}</a>
  {% endif %}
{% endfor %}

{% elsif product.metafields.my_fields.product_family == "Switch" %}

{% for product in collections.switches.products %}
  {% if activeHandle != product.handle %}
      <a href="{{ product.url }}">{% for variant in product.variants %}<p class="productFamily" >{{ variant.option1 }}</p>{% endfor %}</a>
  {% endif %}
{% endfor %}

{% elsif product.metafields.my_fields.product_family == "Mini" %}

{% for product in collections.mini.products %}
  {% if activeHandle != product.handle %}
      <a href="{{ product.url }}">{% for variant in product.variants %}<p class="productFamily" >{{ variant.option1 }}</p>{% endfor %}</a>
  {% endif %}
{% endfor %}

{% elsif product.metafields.my_fields.product_family == "Flex" %}

{% for product in collections.neon-flex.products %}
  {% if activeHandle != product.handle %}
      <a href="{{ product.url }}">{% for variant in product.variants %}<p class="productFamily" >{{ variant.option1 }}</p>{% endfor %}</a>
  {% endif %}
{% endfor %}

{% elsif product.metafields.my_fields.product_family == "Outdoor" %}

{% for product in collections.outdoor.products %}
  {% if activeHandle != product.handle %}
      <a href="{{ product.url }}">{% for variant in product.variants %}<p class="productFamily" >{{ variant.option1 }}</p>{% endfor %}</a>
  {% endif %}
{% endfor %}

{% elsif product.metafields.my_fields.product_family == "Beam" %}

{% for product in collections.beam.products %}
  {% if activeHandle != product.handle %}
      <a href="{{ product.url }}">{% for variant in product.variants %}<p class="productFamily" >{{ variant.option1 }}</p>{% endfor %}</a>
  {% endif %}
{% endfor %}

  {% elsif product.metafields.my_fields.product_family == "Path" %}

{% for product in collections.path.products %}
  {% if activeHandle != product.handle %}
      <a href="{{ product.url }}">{% for variant in product.variants %}<p class="productFamily" >{{ variant.option1 }}</p>{% endfor %}</a>
  {% endif %}
{% endfor %}
  
{% endif %}

 {% endif %}