<style>
.productFamily {
border: 1px solid;
border-radius: 50px;
color: #000;
display: inline-block;
margin-top: 5px;
margin-bottom: 0px;
padding: 10px 20px 10px 20px;
font-size: 1.4rem;
letter-spacing: .1rem;
line-height: 1;
text-align: center;
margin-right:6px;
}
.productFamily:hover{
color: #FFF;
background-color:#000
}
.variantSoldOut{
cursor: not-allowed;
opacity: .5;
}
</style>


{%- assign activeHandle = product.handle -%}

{% if product.metafields.my_fields.product_family == "Colour" %}

{% for product in collections.colour.products %}
  {% if activeHandle != product.handle %}
      {% if product.available %}<a href="{{ product.url }}">{% endif %}{% for variant in product.variants %}<p class="productFamily {% if variant.available == false %}variantSoldOut{% endif %}" >{{ variant.option1 }}</p>{% endfor %}{% if product.available %}</a>{% endif %}
  {% endif %}
{% endfor %}

{% elsif product.metafields.my_fields.product_family == "White to Warm" %}

{% for product in collections.white-to-warm.products %}
  {% if activeHandle != product.handle %}
      {% if product.available %}<a href="{{ product.url }}">{% endif %}{% for variant in product.variants %}<p class="productFamily {% if variant.available == false %}variantSoldOut{% endif %}" >{{ variant.option1 }}</p>{% endfor %}{% if product.available %}</a>{% endif %}
  {% endif %}
{% endfor %}

{% elsif product.metafields.my_fields.product_family == "White" %}

{% for product in collections.white.products %}
  {% if activeHandle != product.handle %}
      {% if product.available %}<a href="{{ product.url }}">{% endif %}{% for variant in product.variants %}<p class="productFamily {% if variant.available == false %}variantSoldOut{% endif %}" >{{ variant.option1 }}</p>{% endfor %}{% if product.available %}</a>{% endif %}
  {% endif %}
{% endfor %}

{% elsif product.metafields.my_fields.product_family == "Candle Colour" or product.metafields.my_fields.product_family == "Candle White to Warm"%}

{% for product in collections.candles.products %}
  {% if activeHandle != product.handle %}
      {% if product.available %}<a href="{{ product.url }}">{% endif %}{% for variant in product.variants %}<p class="productFamily {% if variant.available == false %}variantSoldOut{% endif %}" >{{ variant.option1 }}</p>{% endfor %}{% if product.available %}</a>{% endif %}
  {% endif %}
{% endfor %}

{% elsif product.metafields.my_fields.product_family == "Colour A60" %}

{% for product in collections.colour-a60.products %}
  {% if activeHandle != product.handle %}
      {% if product.available %}<a href="{{ product.url }}">{% endif %}{% for variant in product.variants %}<p class="productFamily {% if variant.available == false %}variantSoldOut{% endif %}" >{{ variant.option1 }}</p>{% endfor %}{% if product.available %}</a>{% endif %}
  {% endif %}
{% endfor %}

{% elsif product.metafields.my_fields.product_family == "Nightvision" %}

{% for product in collections.nightvision.products %}
  {% if activeHandle != product.handle %}
      {% if product.available %}<a href="{{ product.url }}">{% endif %}{% for variant in product.variants %}<p class="productFamily {% if variant.available == false %}variantSoldOut{% endif %}" >{{ variant.option1 }}</p>{% endfor %}{% if product.available %}</a>{% endif %}
  {% endif %}
{% endfor %}

{% elsif product.metafields.my_fields.product_family == "Downlight" %}

{% for product in collections.downlight.products %}
  {% if activeHandle != product.handle %}
      {% if product.available %}<a href="{{ product.url }}">{% endif %}{% for variant in product.variants %}<p class="productFamily {% if variant.available == false %}variantSoldOut{% endif %}" >{{ variant.option1 }}</p>{% endfor %}{% if product.available %}</a>{% endif %}
  {% endif %}
{% endfor %}

{% elsif product.metafields.my_fields.product_family == "Clean" %}

{% for product in collections.clean.products %}
  {% if activeHandle != product.handle %}
      {% if product.available %}<a href="{{ product.url }}">{% endif %}{% for variant in product.variants %}<p class="productFamily {% if variant.available == false %}variantSoldOut{% endif %}" >{{ variant.option1 }}</p>{% endfor %}{% if product.available %}</a>{% endif %}
  {% endif %}
{% endfor %}


{% elsif product.metafields.my_fields.product_family == "Lightstrip" %}

{% for product in collections.lightstrips.products %}
  {% if activeHandle != product.handle %}
      {% if product.available %}<a href="{{ product.url }}">{% endif %}{% for variant in product.variants %}<p class="productFamily {% if variant.available == false %}variantSoldOut{% endif %}" >{{ variant.option1 }}</p>{% endfor %}{% if product.available %}</a>{% endif %}
  {% endif %}
{% endfor %}

{% elsif product.metafields.my_fields.product_family == "Switches" %}

{% for product in collections.switches.products %}
  {% if activeHandle != product.handle %}
      {% if product.available %}<a href="{{ product.url }}">{% endif %}{% for variant in product.variants %}<p class="productFamily {% if variant.available == false %}variantSoldOut{% endif %}" >{{ variant.option1 }}</p>{% endfor %}{% if product.available %}</a>{% endif %}
  {% endif %}
{% endfor %}

{% endif %}