{{ 'section-image-banner-interactive.css' | asset_url | stylesheet_tag }}




<script>
function hideBanner1()
{
  document.getElementById('interactiveBanner').setAttribute("class", "showBanner");
  document.getElementById('interactiveBanner1').setAttribute("class", "hideBanner");
  document.getElementById('interactiveBanner2').setAttribute("class", "hideBanner");
  document.getElementById('interactiveBanner3').setAttribute("class", "hideBanner");
  document.getElementById('button1').setAttribute("class", "button aceButtonActive");
  document.getElementById('button2').setAttribute("class", "button aceButton");
  document.getElementById('button3').setAttribute("class", "button aceButton");
}
  function hideBanner2()
{
  document.getElementById('interactiveBanner').setAttribute("class", "hideBanner");
  document.getElementById('interactiveBanner1').setAttribute("class", "showBanner");
  document.getElementById('interactiveBanner2').setAttribute("class", "hideBanner");
  document.getElementById('interactiveBanner3').setAttribute("class", "hideBanner");
  document.getElementById('button1').setAttribute("class", "button aceButton");
  document.getElementById('button2').setAttribute("class", "button aceButtonActive");
  document.getElementById('button3').setAttribute("class", "button aceButton");
}
  function hideBanner3()
{
  document.getElementById('interactiveBanner').setAttribute("class", "hideBanner");
  document.getElementById('interactiveBanner1').setAttribute("class", "hideBanner");
  document.getElementById('interactiveBanner2').setAttribute("class", "showBanner");
  document.getElementById('interactiveBanner3').setAttribute("class", "hideBanner");
  document.getElementById('button1').setAttribute("class", "button aceButton");
  document.getElementById('button2').setAttribute("class", "button aceButton");
  document.getElementById('button3').setAttribute("class", "button aceButtonActive");
}

  
</script>

{%- if section.settings.adapt_height_first_image and section.settings.image != blank -%}
  {%- style -%}
  @media screen and (max-width: 749px) {
    #Banner-{{ section.id }}::before,
    #Banner-{{ section.id }} .banner__media::before,
    #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
      padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
      content: '';
      display: block;
    }
  }

  @media screen and (min-width: 750px) {
    #Banner-{{ section.id }}::before,
    #Banner-{{ section.id }} .banner__media::before {
      padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
      content: '';
      display: block;
    }
  }
  {%- endstyle -%}
{%- endif -%}

{%- style -%}
  #Banner-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }
{%- endstyle -%}

{% if section.settings.image != blank %}	  
<div id="Banner-{{ section.id }}" class="banner{% if section.settings.adapt_height_first_image and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %} color-inverse">

        {%- if section.settings.image != blank -%}
    <div class="banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}">
     
      <img id="interactiveBanner" style="transition: all 2s"
        srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | img_url: '375x' }} 375w,{%- endif -%}
          {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
          {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
          {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
          {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
          {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
          {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
          {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | img_url: '3840x' }} 3840w,{%- endif -%}"
        sizes="{% if section.settings.image_2 != blank and section.settings.stack_images_on_mobile %}(min-width: 750px) 50vw, 100vw{% elsif section.settings.image_2 != blank %}50vw{% else %}100vw{% endif %}"
        src="{{ section.settings.image | img_url: '1500x' }}"
        loading="lazy"
        alt="{{ section.settings.image.alt | escape }}"
        width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
        {% if section.settings.image_2 != blank %}class="banner__media-image-half"{% endif %}
      >

    

  {%- if section.settings.image_2 != blank -%}
<img id="interactiveBanner1" style="transition: all 2s"
        srcset="{%- if section.settings.image_2.width >= 375 -%}{{ section.settings.image_2 | img_url: '375x' }} 375w,{%- endif -%}
          {%- if section.settings.image_2.width >= 750 -%}{{ section.settings.image_2 | img_url: '750x' }} 750w,{%- endif -%}
          {%- if section.settings.image_2.width >= 1100 -%}{{ section.settings.image_2 | img_url: '1100x' }} 1100w,{%- endif -%}
          {%- if section.settings.image_2.width >= 1500 -%}{{ section.settings.image_2 | img_url: '1500x' }} 1500w,{%- endif -%}
          {%- if section.settings.image_2.width >= 1780 -%}{{ section.settings.image_2 | img_url: '1780x' }} 1780w,{%- endif -%}
          {%- if section.settings.image_2.width >= 2000 -%}{{ section.settings.image_2 | img_url: '2000x' }} 2000w,{%- endif -%}
          {%- if section.settings.image_2.width >= 3000 -%}{{ section.settings.image_2 | img_url: '3000x' }} 3000w,{%- endif -%}
          {%- if section.settings.image_2.width >= 3840 -%}{{ section.settings.image_2 | img_url: '3840x' }} 3840w,{%- endif -%}"
        sizes="{% if section.settings.image != blank and section.settings.stack_images_on_mobile %}(min-width: 750px) 50vw, 100vw{% elsif section.settings.image != blank %}50vw{% else %}100vw{% endif %}"
        src="{{ section.settings.image_2 | img_url: '1500x' }}"
        loading="lazy"
        alt="{{ section.settings.image_2.alt | escape }}"
        width="{{ section.settings.image_2.width }}"
        height="{{ section.settings.image_2.width | divided_by: section.settings.image_2.aspect_ratio }}"
        {% if section.settings.image != blank %}class="banner__media-image-half"{% endif %}
      >

  {%- endif -%}

  {%- if section.settings.image_3 != blank -%}
<img id="interactiveBanner2" style="transition: all 2s"
        srcset="{%- if section.settings.image_3.width >= 375 -%}{{ section.settings.image_3 | img_url: '375x' }} 375w,{%- endif -%}
          {%- if section.settings.image_3.width >= 750 -%}{{ section.settings.image_3 | img_url: '750x' }} 750w,{%- endif -%}
          {%- if section.settings.image_3.width >= 1100 -%}{{ section.settings.image_3 | img_url: '1100x' }} 1100w,{%- endif -%}
          {%- if section.settings.image_3.width >= 1500 -%}{{ section.settings.image_3 | img_url: '1500x' }} 1500w,{%- endif -%}
          {%- if section.settings.image_3.width >= 1780 -%}{{ section.settings.image_3 | img_url: '1780x' }} 1780w,{%- endif -%}
          {%- if section.settings.image_3.width >= 2000 -%}{{ section.settings.image_3 | img_url: '2000x' }} 2000w,{%- endif -%}
          {%- if section.settings.image_3.width >= 3000 -%}{{ section.settings.image_3 | img_url: '3000x' }} 3000w,{%- endif -%}
          {%- if section.settings.image_3.width >= 3840 -%}{{ section.settings.image_3 | img_url: '3840x' }} 3840w,{%- endif -%}"
        sizes="{% if section.settings.image != blank and section.settings.stack_images_on_mobile %}(min-width: 750px) 50vw, 100vw{% elsif section.settings.image != blank %}50vw{% else %}100vw{% endif %}"
        src="{{ section.settings.image_3 | img_url: '1500x' }}"
        loading="lazy"
        alt="{{ section.settings.image_3.alt | escape }}"
        width="{{ section.settings.image_3.width }}"
        height="{{ section.settings.image_3.width | divided_by: section.settings.image_3.aspect_ratio }}"
        {% if section.settings.image != blank %}class="banner__media-image-half"{% endif %}
      >

  {%- endif -%}

  {%- if section.settings.image_4 != blank -%}
<img id="interactiveBanner3" style="transition: all 2s"
        srcset="{%- if section.settings.image_4.width >= 375 -%}{{ section.settings.image_4 | img_url: '375x' }} 375w,{%- endif -%}
          {%- if section.settings.image_4.width >= 750 -%}{{ section.settings.image_4 | img_url: '750x' }} 750w,{%- endif -%}
          {%- if section.settings.image_4.width >= 1100 -%}{{ section.settings.image_4 | img_url: '1100x' }} 1100w,{%- endif -%}
          {%- if section.settings.image_4.width >= 1500 -%}{{ section.settings.image_4 | img_url: '1500x' }} 1500w,{%- endif -%}
          {%- if section.settings.image_4.width >= 1780 -%}{{ section.settings.image_4 | img_url: '1780x' }} 1780w,{%- endif -%}
          {%- if section.settings.image_4.width >= 2000 -%}{{ section.settings.image_4 | img_url: '2000x' }} 2000w,{%- endif -%}
          {%- if section.settings.image_4.width >= 3000 -%}{{ section.settings.image_4 | img_url: '3000x' }} 3000w,{%- endif -%}
          {%- if section.settings.image_4.width >= 3840 -%}{{ section.settings.image_4 | img_url: '3840x' }} 3840w,{%- endif -%}"
        sizes="{% if section.settings.image != blank and section.settings.stack_images_on_mobile %}(min-width: 750px) 50vw, 100vw{% elsif section.settings.image != blank %}50vw{% else %}100vw{% endif %}"
        src="{{ section.settings.image_4 | img_url: '1500x' }}"
        loading="lazy"
        alt="{{ section.settings.image_4.alt | escape }}"
        width="{{ section.settings.image_4.width }}"
        height="{{ section.settings.image_4.width | divided_by: section.settings.image_3.aspect_ratio }}"
        {% if section.settings.image != blank %}class="banner__media-image-half"{% endif %}
      >

  {%- endif -%}

</div>
  {%- elsif section.settings.image_2 == blank -%}
    <div class="banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}">
      {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {%- endif -%}



  <div class="banner__align--{{ section.settings.desktop_box_alignment }} banner__content--{{ section.settings.desktop_text_box_position }} page-width box--{{ section.settings.color_scheme }} color-inverse">
    <div class="color-{{ section.settings.color_scheme }}" style="margin: 40px 40px 25px 40px;">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h2 class="banner__heading {% if block.settings.heading_size == 'medium' %}h1{% else %}h0{% endif %}" {{ block.shopify_attributes }}>
              <span>{{ block.settings.heading | escape }}</span>
            </h2>
          {%- when 'text' -%}
            <div class="image-with-text__text rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
          {%- when 'buttons' -%}
<div style="width:100%;float:left">
                  <div style="float: left; padding-right: 15px;"> <p id="button1" onclick="hideBanner1()" width="100%" class="button aceButton">{{ section.settings.text_button_1 }}</div>
                  <div style="float: left; padding-right: 15px;">  <p id="button2" onclick="hideBanner2()" width="100%" class="button aceButton">{{ section.settings.text_button_2 }}</div>
                  <div style="float: left; ">  <p id="button3" onclick="hideBanner3()" width="100%" class="button aceButton">{{ section.settings.text_button_3 }}</div>
</div>
   <div style="width:100">LIFX isn’t just a light—it’s every light in one. Whether you need an extra focussed day or you’re hoping to boost your sense of play, your space can be what you need, when you need it.</div>

        {%- endcase -%}
      {%- endfor -%}
    </div>

     </div>

 
</div>
{% endif %}
{% schema %}
{
  "name": "t:sections.image-banner-interactive.name",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner-interactive.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.image-banner-interactive.settings.image_2.label"
    },
   {
      "type": "image_picker",
      "id": "image_3",
      "label": "t:sections.image-banner-interactive.settings.image_3.label"
    },
  {
      "type": "image_picker",
      "id": "image_4",
      "label": "t:sections.image-banner-interactive.settings.image_4.label"
    },
    {
      "type": "text",
      "id": "text_button_1",
      "label": "t:sections.image-banner-interactive.settings.text_button_1.label"
    },
    {
      "type": "text",
      "id": "text_button_2",
      "label": "t:sections.image-banner-interactive.settings.text_button_2.label"
    },
    {
      "type": "text",
      "id": "text_button_3",
      "label": "t:sections.image-banner-interactive.settings.text_button_3.label"
    },
    {
      "type": "checkbox",
      "id": "adapt_height_first_image",
      "default": false,
      "label": "t:sections.image-banner-interactive.settings.adapt_height_first_image.label"
    },
    {
      "type": "select",
      "id": "desktop_text_box_position",
      "options": [
        {
          "value": "flex-start",
          "label": "t:sections.image-banner-interactive.settings.desktop_text_box_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner-interactive.settings.desktop_text_box_position.options__2.label"
        },
        {
          "value": "flex-end",
          "label": "t:sections.image-banner-interactive.settings.desktop_text_box_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner-interactive.settings.desktop_text_box_position.label"
    },
    {
      "type": "select",
      "id": "desktop_box_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner-interactive.settings.desktop_box_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner-interactive.settings.desktop_box_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner-interactive.settings.desktop_box_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner-interactive.settings.desktop_box_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "default": true,
      "label": "t:sections.image-banner-interactive.settings.show_text_box.label"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner-interactive.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.image-banner-interactive.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.image-banner-interactive.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.image-banner-interactive.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.image-banner-interactive.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.image-banner-interactive.settings.color_scheme.options__5.label"
        },
        {
          "value": "transparent",
          "label": "t:sections.image-banner-interactive.settings.color_scheme.options__6.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.image-banner-interactive.settings.color_scheme.label",
      "info": "t:sections.image-banner-interactive.settings.color_scheme.info"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner-interactive.settings.header.content"
    },
    {
      "type": "checkbox",
      "id": "stack_images_on_mobile",
      "default": true,
      "label": "t:sections.image-banner-interactive.settings.stack_images_on_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": true,
      "label": "t:sections.image-banner-interactive.settings.show_text_below.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner-interactive.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner-interactive.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "medium",
              "label": "t:sections.image-banner-interactive.blocks.heading.settings.heading_size.options__1.label"
            },
            {
              "value": "large",
              "label": "t:sections.image-banner-interactive.blocks.heading.settings.heading_size.options__2.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.image-banner-interactive.blocks.heading.settings.heading_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner-interactive.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.image-banner-interactive.blocks.text.settings.text.label"
        }
      ]
    },
 {
      "type": "buttons",
      "name": "t:sections.image-banner-interactive.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.image-banner-interactive.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner-interactive.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner-interactive.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner-interactive.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "t:sections.image-banner-interactive.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner-interactive.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner-interactive.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.image-banner-interactive.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-banner-interactive.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
