{{ 'scroller.css' | asset_url | stylesheet_tag }}

<div class="scroll text-1">
  <div>
    
      <span class="pdp-marquee__text" style="color:{{ section.settings.fontColor }}">{{ section.settings.tagline1 }}</span>
      <p class="pdp-marquee__ellipse">/</p> 
    
      <span class="pdp-marquee__text">{{ section.settings.tagline2 }}</span>
      <p class="pdp-marquee__ellipse">/</p> 
    
      <span class="pdp-marquee__text">{{ section.settings.tagline3 }}</span>
      <p class="pdp-marquee__ellipse">/</p> 
    
      <span class="pdp-marquee__text">{{ section.settings.tagline4 }}</span>
      <p class="pdp-marquee__ellipse">/</p> 
     
  </div>
  <div>
    
      <span class="pdp-marquee__text">{{ section.settings.tagline1 }}</span>
      <p class="pdp-marquee__ellipse">/</p> 
    
      <span class="pdp-marquee__text">{{ section.settings.tagline2 }}</span>
      <p class="pdp-marquee__ellipse">/</p> 
    
      <span class="pdp-marquee__text">{{ section.settings.tagline3 }}</span>
      <p class="pdp-marquee__ellipse">/</p> 
    
      <span class="pdp-marquee__text">{{ section.settings.tagline4 }}</span>
      <p class="pdp-marquee__ellipse">/</p> 
     
  </div>
</div>




{% schema %}

{
  "name": "t:sections.scroller.name",
  "class": "spaced-section spaced-section--full-width overflowHidden",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "tagline1",
      "default": "Tagline",
      "label": "t:sections.scroller.settings.tagline1.label"
    },
    {
      "type": "text",
      "id": "tagline2",
      "default": "Tagline",
      "label": "t:sections.scroller.settings.tagline2.label"
    },
    {
      "type": "text",
      "id": "tagline3",
      "default": "Tagline",
      "label": "t:sections.scroller.settings.tagline3.label"
    },
    {
      "type": "text",
      "id": "tagline4",
      "default": "Tagline",
      "label": "t:sections.scroller.settings.tagline4.label"
    },
    {
      "type": "text",
      "id": "fontColor",
      "default": "#EB7BDD",
      "label": "t:sections.scroller.settings.fontColor.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.scroller.presets.name"
    }
  ]
}
  {% endschema %}
