{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{% if section.settings.video != blank %}
<div class="video-section{% unless section.settings.full_width %} page-width{% endunless %}">
  <div{% if section.settings.full_width %} class="page-width"{% endif %}>
    <h2 class="title">{{ section.settings.heading }}</h2>
  </div>


<video muted autoplay playsinline loop style="width: -webkit-fill-available;display:flex">
    <source src="{{ section.settings.video }}" type="video/mp4" alt="{{ 'sections.video.load_video' | t: description: section.settings.description | escape }}">
</video>
</div>
{% endif %}
{% schema %}
{
  "name": "t:sections.videoAutoLoop.name",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Video",
      "label": "t:sections.videoAutoLoop.settings.heading.label"
    },
	{
      "type": "url",
      "id": "video",
      "label": "t:sections.videoAutoLoop.settings.video.label",
      "info": "t:sections.videoAutoLoop.settings.video.info"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:sections.videoAutoLoop.settings.description.label",
      "info": "t:sections.videoAutoLoop.settings.description.info"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.video.settings.full_width.label",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "t:sections.videoAutoLoop.presets.name"
    }
  ]
}
  {% endschema %}
